#set1 {
    width: 50px;
}
.radio {
    text-align: left;
    margin-left: 10px;
}
.setting{
    border: solid 1px silver;
    border-radius: 10px;
    text-align: center;
    background: #FBFDEFFF;
}
#data-wrapper{
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.myflex {
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.data-item {
    border: 2px solid black;
    padding: 10px;
    background-color: #d0c1ad;
    width: 250px;
    height: 400px ;
    overflow: scroll;
    margin-bottom: 15px;
}
.data-item span {
    font-size: 20px;
    font-width: bold;
}
.image {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.check-code{
    border: solid 1px silver;
    border-radius: 10px;
    text-align: center;
    background: #e4e5d8;
}
h1 {
    font-size: 50px;
    /*  text-align: center;*/
    color: green;
}
body {
    /*background-color: #cef5f9;*/
    background-image: url(/public/img/3.jpg);
}
.temper-table {
    height: 445px;
    width: 338px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #e4e5d8;
}
.temper-table legend {
    text-align: center;
}
.scroll-table-body {
    height: 300px;
    width: 317px;
    overflow-x: auto;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #b2b3aa;
    /*	border: 1px solid #eee;*/
}
.scroll-table table {
    width: 317px;
    margin-left: 10px;
    table-layout: fixed;
    border: 1px solid #b2b3aa;
    /*	border-right: 1px solid #b2b3aa;*/
}
.scroll-table tr th {
    font-weight: bold;
    text-align: center;
    padding: 3px;
    background: #e4e5d8;
    font-size: 14px;
    border-left: 1px solid #b2b3aa;
    border-right: 1px solid #b2b3aa;
    border-bottom: 1px solid #b2b3aa;
}
.scroll-table tbody td {
    text-align: center;
    border-left: 2px solid #b2b3aa;
    /*	border-right: 2px solid #ddd;*/
    padding: 5px 5px;
    font-size: 14px;
    vertical-align: top;
}
.scroll-table tbody tr:nth-child(even) {
    background: #f2f2eb;
}
/*Стили для скролла */
#davaToday {
    margin-left: 10px;
    background-color: #f2f2eb;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header{
    justify-content: space-between;
}

.header-right{
    display: flex;
    justify-content: right;
}

.header-link{
    outline: 0;
    border: 0;
    background: none;
}

